---
layout: default
---

<div class='platform'>

  <h1><a href='{{ page.url }}'>{{ page.name }}</a></h1>

  <p>
    <a target='_blank' href='{{ page.homepage }}'>Company</a>
    {% if page.platform-homepage %}
      <a target='_blank' href='{{ page.platform-homepage }}'>| Platform</a>
    {% endif %}
    {% if page.devrels-homepage %}
      <a target='_blank' href='{{ page.devrels-homepage }}'>| Devrels</a>
    {% endif %}
  </p>

  <p class='summary'>{{ content }}</p>

  <ul>
    {% for devrel in page.devrels %}
      <li class='devrel'>
        {% twitter_info %}
        {% tags %}
      </li>
    {% endfor %}
  </ul>

</div>
